{% extends "base.html" %}


{% block contenido_cambia %}
    <br><hr>
    <h5>Cargar nuevo curso:</h5>
    <form action="{% url 'AppCoderCursos'  %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar datos de nueva información!">

    </form>
    <br><hr>
    <h5>Realizar busqueda de curso:</h5>
    <form action="{% url 'AppCoderBuscarCurso'  %}">

            {{ form_busqueda.as_p }}
            <input type="submit" value="Realizar busqueda!">
    </form>
    <hr><br>

   {% if cursos %}
        {% for curso in cursos %}
            <!--<p>curso: {{ curso.nombre }}</p>
            <p>camada: {{ curso.camada }}</p> <!-->

        {% endfor %}
    {% else %}
        <h1>No hay cursos en este momento</h1>
    {% endif %}


{% endblock %}